{% extends 'base.html.twig' %}

{% block title %}SymShop{% endblock %}

{% block body %}

    {% include "_incs/_slider.html.twig" %}

        <div class="container pt-3">
            <div class="p-5 bg-dark">
                    <h1 class="display-3">Bienvenue sur SymShop</h1>
                    <p class="lead">Nos nouveaux produits aux mailleir prix</p>
                    <hr class="my-2">
                    <p>Voir nos produits</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Boutique</a>
                    </p>
            </div>

            <div class="row py-5 rounded gap-1 justify-content-center">
            
                <div class="col-3 col-lg-3 col-sm-12 py-5 bg-dark text-white text-center">
                    <i class="fa-solid fa-lock fa-2x"></i>
                    <p class="text-white text-center">Produits de qualites , delivres par des marques reconnues</p>
                </div>

                <div class="col-3 col-lg-3 col-sm-12 py-5 bg-warning text-white text-center">
                        <i class="fa-solid fa-check fa-2x"></i>
                        <p class="text-white text-center">Nos moyens de paiements sont securiser</p>
                </div>

                <div class="col-3 col-lg-3 col-sm-12 py-5 bg-warning text-white text-center">
                        <i class="fa-solid fa-check fa-2x"></i>
                        <p class="text-white text-center">Nos moyens de paiements sont securiser</p>
                </div>

               

            </div>


            <section class="text-center my-5">
            <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus tenetur nostrum non porro at rerum recusandae! Est modi eveniet non veniam quia doloremque et ex in porro. Distinctio, earum magni!
            </p>
            <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio officiis exercitationem deleniti. Quae itaque doloribus est, molestiae, dolorem adipisci quibusdam ab aliquam libero sapiente enim voluptatem incidunt tenetur quis quas.
            Delectus et illo incidunt deserunt dolor sint velit impedit deleniti sequi! Voluptate quaerat eligendi molestias quos corrupti laboriosam facere fuga rerum corporis quibusdam. Perferendis dolorem reprehenderit ea, tempore eligendi eius?</p>
            </section>
        </div>
{% endblock %}
