{% extends "base.html.twig" %}

{% block title %}BACKOFFICE - Gestion des avis!{% endblock %}

{% block body %}

<div class="container">

    <h1 class="display-4 col-md-7 text-center bg-primary mx-auto my-5">
    Modifier un avis
    </h1>
    <h4 class="text-muted my-5 mx-auto text-center"> Votre avis....</h4>

		{{form_start(form, {'attr' : {'class' : 'col-md-7 mx-auto'} } ) }}

		{{ form_row(form.auteur)}}

		{{ form_row(form.contenu)}}

		<button class="btn btn-primary" type="submit">Modifie</button>

		{{ form_end(form)}}
</div>

{% endblock %}